<div class="hero">
  <div class="hero-content">
    <h1>Welcome to Trailhead</h1>
    <h2>Hello Infoshare &#33;&#33;&#33;</h2>
    <div class="hero-subheading">The fun way to learn Salesforce</div>
    <a class="hero-button" title="Start learning for free" href="<%= units_path %>">Get started</a>
  </div>
</div>
