<h1>Trailhead Demo (style this page like simplified trailhead.com homepage)</h1>
<p><em>Short description of what this demo app is.</em></p>
<p><em>Login button in top right goes to /login</em></p>
<br/>
<p>WELCOME TO TRAILHEAD</p>
<p>The fun way to learn Salesforce</p>
<br />
<p><em>Big "Get Started" button in middle that goes to /units</em></p>
<%= link_to "Get Started", units_path %>
