<div class="unit-container-header">
  <div class="unit-header">
    <div class="title">
      <h1 class="unit-title"><%= @unit.title %></h1>
      <div class="unit-description"><%= @unit.description %></div>
    </div>
  </div>
</div>
<div class="unit-background">
  <div class="unit-content-container">
    <div class="row">
      <div class="unit-content">
        <%= @unit.content =%>
      </div>
      <div id="challenge">
        <div class="quiz">
          <%= render partial: "units/quiz", locals: { unit: @unit, submitted_answers: @submitted_answers, incorrect_questions: @incorrect_questions } %>
        </div>
      </div>
    </div>
  </div>
</div>



