@font-face {
    font-family: 'NexaRustSans-Black';
    src:font-url('NexaRustSans-Black-Free-webfont.eot');
    src:font-url('NexaRustSans-Black-Free-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
         font-url('NexaRustSans-Black-Free-webfont.woff') format('woff'),
         font-url('NexaRustSans-Black-Free-webfont.ttf') format('truetype'),
         font-url('NexaRustSans-Black-Free-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SalesforceSans';
    src: font-url('SalesforceSans-Light.eot');
    src: font-url('SalesforceSans-Light.eot?#iefix') format('embedded-opentype'),
        font-url('SalesforceSans-Light.woff2') format('woff2'),
        font-url('SalesforceSans-Light.woff') format('woff'),
        font-url('SalesforceSans-Light.ttf') format('truetype'),
        font-url('SalesforceSans-Light.svg#SalesforceSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SalesforceSans';
    src: font-url('SalesforceSans-Bold.eot');
    src: font-url('SalesforceSans-Bold.eot?#iefix') format('embedded-opentype'),
        font-url('SalesforceSans-Bold.woff2') format('woff2'),
        font-url('SalesforceSans-Bold.woff') format('woff'),
        font-url('SalesforceSans-Bold.ttf') format('truetype'),
        font-url('SalesforceSans-Bold.svg#SalesforceSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SalesforceSans';
    src: font-url('SalesforceSans-Regular.eot');
    src: font-url('SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('SalesforceSans-Regular.woff2') format('woff2'),
        font-url('SalesforceSans-Regular.woff') format('woff'),
        font-url('SalesforceSans-Regular.ttf') format('truetype'),
        font-url('SalesforceSans-Regular.svg#SalesforceSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SalesforceSans';
    src: font-url('SalesforceSans-LightItalic.eot');
    src: font-url('SalesforceSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        font-url('SalesforceSans-LightItalic.woff2') format('woff2'),
        font-url('SalesforceSans-LightItalic.woff') format('woff'),
        font-url('SalesforceSans-LightItalic.ttf') format('truetype'),
        font-url('SalesforceSans-LightItalic.svg#SalesforceSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SalesforceSans';
    src: font-url('SalesforceSans-ThinItalic.eot');
    src: font-url('SalesforceSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        font-url('SalesforceSans-ThinItalic.woff2') format('woff2'),
        font-url('SalesforceSans-ThinItalic.woff') format('woff'),
        font-url('SalesforceSans-ThinItalic.ttf') format('truetype'),
        font-url('SalesforceSans-ThinItalic.svg#SalesforceSans-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SalesforceSans';
    src: font-url('SalesforceSans-BoldItalic.eot');
    src: font-url('SalesforceSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        font-url('SalesforceSans-BoldItalic.woff2') format('woff2'),
        font-url('SalesforceSans-BoldItalic.woff') format('woff'),
        font-url('SalesforceSans-BoldItalic.ttf') format('truetype'),
        font-url('SalesforceSans-BoldItalic.svg#SalesforceSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SalesforceSans';
    src: font-url('SalesforceSans-Italic.eot');
    src: font-url('SalesforceSans-Italic.eot?#iefix') format('embedded-opentype'),
        font-url('SalesforceSans-Italic.woff2') format('woff2'),
        font-url('SalesforceSans-Italic.woff') format('woff'),
        font-url('SalesforceSans-Italic.ttf') format('truetype'),
        font-url('SalesforceSans-Italic.svg#SalesforceSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SalesforceSans';
    src: font-url('SalesforceSans-Thin.eot');
    src: font-url('SalesforceSans-Thin.eot?#iefix') format('embedded-opentype'),
        font-url('SalesforceSans-Thin.woff2') format('woff2'),
        font-url('SalesforceSans-Thin.woff') format('woff'),
        font-url('SalesforceSans-Thin.ttf') format('truetype'),
        font-url('SalesforceSans-Thin.svg#SalesforceSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
