html, body, * {
  font-family: SalesforceSans, "ProximaNovaRegular", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: #333;
}

.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0;
}

.container:after {
  clear: both;
}

*, :after, :before {
  box-sizing: border-box;
}

article, aside, details, figcaption,figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

::selection {
  color: inherit;
}

::selection {
  background: #d8edff;
  text-shadow: none;
  color: #16325c;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

dl, fieldset, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

dl, fieldset, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

li {
  line-height: 20px;
}

a {
  color: #0070d2;
  text-decoration: none;
  transition: color .1s linear;
  background-color: transparent;
}

a, button {
  cursor: pointer;
}

abbr[title], fieldset, hr {
  border: 0;
}

#flash_messages {
  vertical-align: middle;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  height: 101px;
  width: 100%;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  z-index: 10;
  text-align: center;

  @media (max-width: 1023px) {
    height: 55px;
  }
}

.alert.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.alert.fade.in {
  opacity: 1;
}

.alert.alert-info {
  color: #004085;
  background-color: #cce5fff2;
  border-color: #b8daff;
}

.alert.alert-danger {
  color: #721c24;
  background-color: #f8d7daf2;
  border-color: #f5c6cb;
}

.alert.alert-success {
  color: #155724;
  background-color: #d4eddaf2;
  border-color: #c3e6cb;
}

.alert-dismissible {
  padding-right: 4rem;
}
