<div id="modal" class="modal">
  <div class="modal-container">
    <div class="modal-header"></div>
    <div class="modal-content">
      <h2>Quiz Complete!</h2>
      <div class="earned-badge">
        <p>You've earned</p>
        <img id="badge-image" src="">
        <h3 id="badge-name"></h3>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
<div id="backdrop" class="backdrop"></div>
